---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Dawon Ko. About me</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="About">
	<meta name="keywords" content="Dawon, Ko, Dawon Ko">
	{% include head.html %}
	{% include analytics.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">Thanks for being curious</span>
					<h1>
						<a href="" target="_blank" title="click, if you want, but nothing will happen" rel="nofollow">About me</a>
					</h1>
					<span class="h2">Let's get to know each other!</span>
					<p>I worked for FMCG brands, Consumer Application, Marketing Research, and Platform company as a data-driven marketing person. I love all the marketing related works that help engaging more people with the good products, getting a feedback and also meting those into the product development. Such a fun work!.</p>
<br>
<p>Before that, I finished Bachelor program in Communication Studies, a concentration on communication theory, and data communication. During my study, I interned at amazing companies, Advantage Austria, Ogilvy & Mather, and Uber Eats. I learned the way how to figure what consumers want and how to reach out to them in a persuasive way including campaigns to digital marketing. Basically, my strength is in Analysis, Ideation, Development.</p> 
<br>
<p>After unexpected closure of Uber Eats in South Korea, I decided to hone my data analysis skills, so this decision drove me to work for Kantar, the world leading marketing research firm. Here, I executed business researches to check the brand positioning, consumer behavior and the point of product development needed. <br><br>This experience motivated me to try Kakao’s summer program that gives a product opportunity to non-tech people, I utilized my problem-solving skills to daily inconveniences that we take it for granted but actually it’s not. I’d like to use my skills not only product development but also marketing strategies that enables strong engagement with future users.</p>
<br>
<p>So If you want to be connected with me, please reach out to me through the email address below, welcome anyone from anywhere! Hope you stay safe and always be happy! 😊 </p><br><br><br><br><br><br>


				</article>
				<aside>
					<ul>
						<li>
							<img src="/assets/images/projects/redpineapple/about-1.jpg" alt="" />
						</li>
						
					</ul>
				</aside>
			</div>
		</section>
	</main>
	{% include footer.html %}
	{% include analytics.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>
