---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Dawon Ko. About me</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="About">
	<meta name="keywords" content="Dawon, Ko, Dawon Ko">
	{% include head.html %}
	{% include analytics.html %}
</head>
<body>
	{% include header.html %}
	{% include analytics.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">Do you want to know more</span>
					<h1>
						<a href="" target="_blank" title="click, if you want, but nothing will happen" rel="nofollow">About me</a>
					</h1>
					<span class="h2">Oh, sure, haha, that's cute</span>
					<p>Hi! I’m South Korean living in London, United Kingdom. I worked for FMCG brands, Consumer Application, Marketing Research, and Platform company as a data-driven marketing person. I love all the marketing related works that help engaging more people with the good products, getting a feedback and also meting those into the product development. This is such a fun work!.</p>
<br>
<br>
<p>Before that, I finished Bachelor program in Communication Studies, a concentration on communication theory, modern society and consumers, data communication. During my study, I interned at amazing companies, Advantage Austria, Ogilvy & Mather, and Uber Eats. I learned the way how to figure what consumers want and how to reach out to them in a persuasive way including campaigns to digital marketing. Basically, my strength is in Analysis, Ideation, Development.</p> 
<br>
<p>After unexpected closure of Uber Eats in South Korea, I decided to hone my data analysis skills, so this decision drove me to work for Kantar, the world leading marketing research firm. Here, I executed business researches to check the brand positioning, consumer behavior and the point of product development needed. This experience motivated me to try Kakao’s summer program that gives an opportunity to non-tech people about how to develop a service and its marketing. Though it was just a summer program, I utilized my problem-solving skills to daily inconveniences that we took it for granted but actually it’s not. I’d like to use my skills not only product development but also marketing strategies that enables strong engagement with users/consumers.</p>
<br>
<p>Besides, I like enjoying arts… I am not lying…! I was studying musical before but changed my major into communication studies since I felt I’d like to study more broad range of people interactions. I went to high school in the United States, and also studied at Linkoping university in Sweden for one semester as an exchange student. Pretty international? Plus, I spent one of my summers at University of Groningen studying European business. This means, I love to see how people from different cultures behave, react, and act. My goal is a person who figures what he/she is like when just watching how they walk. Not kidding! <p>
<br>
<p>So If you want a connection with me, please reach out to me through the email address below, welcome anyone from anywhere! Hope you stay safe and always be happy! 😊 </p><br><br><br><br><br><br>

				</article>
				<aside>
					<ul>
						<li>
							<img src="/assets/images/projects/redpineapple/about-1.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/2.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/3.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/5.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/4.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/6.jpg" alt="" />
						</li>
					</ul>
				</aside>
			</div>
		</section>
	</main>
	{% include footer.html %}
	{% include analytics.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>
