---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Dawon Ko. About me</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="About">
	<meta name="keywords" content="Dawon, Ko, Dawon Ko">
	{% include head.html %}
	{% include analytics.html %}
</head>
<body>
	{% include header.html %}
	{% include analytics.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">Do you want to know more</span>
					<h1>
						<a href="" target="_blank" title="click, if you want, but nothing will happen" rel="nofollow">About me</a>
					</h1>
					<span class="h2">Oh, sure, haha, that's cute</span>
					<p>I'm currently working at Facebook AI Research as an AI Resident (read: Research Engineer) under the supervision of Marcus Rohrbach and Amanpreet Singh. My work is concentrated around multimodal AI, particularly Vision and Language. Just recently we finished a large project (task + dataset + model + challenge) on <a href="https://textvqa.org/textcaps" target="_blank" title="textvqa.org/textcaps" rel="nofollow" style="text-decoration: underline;">Image Captioning with Reading Comprehension</a> which is aimed at enabling computers to read the text from the images and describe the images to, say, blind users.</p>
<br>
<p>Before that, I finished joint a Master program between three European Universities - Norwegian University of Science and Technology, University of Granada, and the University of Lyon - where I studied Applied Computer Science with a concentration on Imaging, Computer Vision, and Color Science. During my study, I also interned at amazing groups at the University of Oxford (UK) and KU Leuven (Belgium) and worked as a Teaching and Research Assistant at NTNU.</p> 
<br>
<p>I also studied Physics at my undergrad, but only during my Master I actually discovered that work may be fun and things don't need to be super complex and boring to be useful. This, and also the fact of being in the academic environment, motivated me to develop fast as a researcher, which eventually lead to publishing 14 peer-reviewed papers at the end of my 2-year program from the point where I knew nothing about Computer Vision, Machine Learning, and the world (for the reference, standard outcome of a PhD program is 3-5 papers).</p>
<br>
<p>I wanted to keep that spirit of excitement and to grow further as a first-class researcher but once I reached the level of real-world research frontier it turned out to be much more complex and harsh than it was beneficial ... just ... just as ... Physics, which I tried to escape so hard!</p>
<br>
<p>So now I want to concentrate on the stuff I noticed to like the most:  making money, discussing business strategy, designing UX, complaining about crappy software, making rational decisions and driving the impact others can see. Which brings me to... no, not the loudest person in the internet argument, but right,  Product Management / Entrepreneurship, where I try to grow now.</p>
<br>
<p>My initial attempts to build digital products you can find here: <a href="https://linguo.club" target="_blank" title="linguo.club" rel="nofollow" style="text-decoration: underline;">Linguo.club</a> and <a href="https://faceon.webflow.io" target="_blank" title="faceon.ai" rel="nofollow" style="text-decoration: underline;">FaceOn</a>. </p><br><br><br><br><br><br>
				</article>
				<aside>
					<ul>
						<li>
							<img src="/assets/images/about/1.JPG" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/2.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/3.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/5.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/4.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/6.jpg" alt="" />
						</li>
					</ul>
				</aside>
			</div>
		</section>
	</main>
	{% include footer.html %}
	{% include analytics.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>
